@layer components {
  .shader-preview {
    margin-top: var(--size-3);
    gap: var(--size-3);
    display: flex;
    flex-direction: column;

    pre {
      margin-bottom: 0;
    }
  }

  .shader-preview-code {
    overflow-x: auto;
    align-self: center;

    pre {
      height: 100%;
    }
  }

  @media (max-width: 640px) {
    .shader-preview-code {
      width: 98%;
    }
  }
}
