@layer components {
  .desktop {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .desktop-workspace {
    position: relative;
    flex: 1;
    overflow: hidden;

    >.icons-grid {
      position: absolute;
    }
  }

  @media (max-width: 768px) {
    .desktop-taskbar {
      display: none;
    }
  }
}
